# Connection String Database PostgreSQL Supabase
DATABASE_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# JWT Secret Key
JWT_SECRET="kodemik-secret-key-super-aman-2026-production"
